{extend name="frameset" /}

{block name="content"}
    <div class="con-login">
        <div class="box-login">
            {empty name="article"}
            <h1>Add a article</h1>
            <form class="login-form" action="" method="post">
                <div class="user">
                    <label>Title</label>
                    <input type="text" name="title" class="title">
                </div>
                <div class="pass">
                    <label>Category</label>
                    <select name="c_id" class="category">
                        {volist name="caDire" id="ca"}
                        <option value="{$ca.id}">
                            {$ca.name}
                        </option>
                        {/volist}
                    </select>
                </div>
                <div class="pass">
                    <label>Content</label>
                    <textarea class="content"></textarea>
                </div>
                <button class="login-sub">Add</button>
                <a href="{:url("admin/index/admin")}">Back</a>
            </form>
            {else /}
            <h1>Edit a article</h1>
            <form class="login-form" action="" method="post">
                <div class="user">
                    <label>Title</label>
                    <input type="text" name="title" class="title" value="{$article.title}">
                </div>
                <div class="pass">
                    <label>Category</label>
                    <select name="c_id" class="category">
                        <option value="{$category.id}">{$category.name}</option>
                    </select>
                </div>
                <div class="pass">
                    <label>Content</label>
                    <textarea class="content">{$article.content}</textarea>
                </div>
                <input type="hidden" name="id" class="id" value="{$article.id}">
                <button class="login-sub">Save</button>
                <a href="{:url("admin/index/admin")}">Back</a>
            </form>
            {/empty}
        </div>
    </div>
{/block}