{extend name="frameset" /}

{block name="content"}
    <div class="con-login">
        <div class="box-login">
            {empty name="user"}
            <h1>Add a user</h1>
            <form class="login-form" action="" method="post">
                <div class="user">
                    <label>User Name</label>
                    <input type="text" name="user" class="userInfo">
                </div>
                <div class="pass">
                    <label>Password</label>
                    <input type="password" name="pass" class="passInfo">
                </div>
                <button class="login-sub">Add</button>
                <a href="{:url("admin/index/user")}">Back</a>
            </form>
            {else /}
            <h1>Edit a user</h1>
            <form class="login-form" action="" method="post">
                <div class="user">
                    <label>User Name</label>
                    <input type="text" name="user" class="userInfo" value="{$user.name}">
                </div>
                <div class="pass">
                    <label>Password</label>
                    <input type="text" name="pass" class="passInfo" value="{$user.pass}">
                </div>
                <input type="hidden" name="id" class="id" value="{$user.id}">
                <button class="login-sub">Save</button>
                <a href="{:url("admin/index/user")}">Back</a>
            </form>
            {/empty}
        </div>
    </div>
{/block}