{extend name="frameset" /}

{block name="content"}
    <div class="con-admin">
        <div class="box-admin">
            <div class="table">
                <table border="0" cellpadding="20">
                    <thead>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Content</th>
                        <th>Author</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Opreation</th>
                    </thead>
                    <tbody>
                        {volist name="articles" id="atc"}
                        <tr>
                            <td>{$atc.title}</td>
                            <td>{$atc.c_id}</td>
                            <td>{$atc.content | mb_substr=0,10,'utf-8' | html_entity_decode | strip_tags}…</td>
                            <td>{$atc.u_id}</td>
                            <td>{$atc.create_time}</td>
                            <td>{$atc.update_time}</td>
                            <td>
                                <a href="{:url("index/addAtc", ['id'=>$atc.id])}">Edit</a>
                                <a href="{:url("index/delAtc", ['id'=>$atc.id])}">Delete</a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>
            {$articles->render()}
            <div class="add"><a href="{:url("admin/index/addAtc")}">Add</a></div>
        </div>
    </div>
{/block}