{extend name="frameset" /}

{block name="content"}
    <div class="con-admin">
        <div class="box-admin">
            <div class="table">
                <table border="0" cellpadding="20">
                    <thead>
                        <th>Name</th>
                        <th>Password</th>
                        <th>Registerd</th>
                        <th>Opreation</th>
                    </thead>
                    <tbody>
                        {volist name="users" id="u"}
                        <tr>
                            <td>{$u.name}</td>
                            <td>{$u.pass}</td>
                            <td>{$u.register_time | date="Y-m-d H:i:s",###}</td>
                            <td>
                                <a href="{:url('index/addUser', ['id'=>$u.id])}">Edit</a>
                                <a href="{:url('index/delUser', ['id'=>$u.id])}">Delete</a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>
            {$users->render()}
            <div class="add"><a href="{:url("admin/index/addUser")}">Add</a></div>
        </div>
    </div>
{/block}