{extend name="frameset"}

{block name="link"}
    <title>Article</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/index.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/article.css">
{/block}
{$articles}
 {block name="content"}
  <div class="content">
      <h1>{$articles[0]['cinfo']|default="The best time to plant a tree is ten years ago, followed by now."}</h1>
      <div class="btn-container">
            {empty name="user_name"}
            <a href="{:url('index/login', ['scene'=>'sign'])}" class="btn dark-btn">Sign Up</a>
            {else /}
        {/empty}
      </div>
  </div>
  <div class="article">
     <div class="artc-container">
            <h1>{$articles[0]['cname']}</h1>
            <div class="artc-boxes">
                {volist name="articles" id="arr"}
                <div class="artc-box">
                    <div class="artc-title">{$arr.title}</div>
                    <ul class="artc-list">
                        <li>Author: {$arr.uname}</li>
                            <svg style="margin:0 8px;" height="5" width="5" fill="#8a8a8a" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 84 84" data-reactid="246"><circle class="circle-obj" cx="42" cy="42" r="40" stroke="#8a8a8a" stroke-width="4" fill="#8a8a8a"></circle></svg>
                        <li>Created: {$arr.create_time}</li>
                            <svg style="margin:0 8px;" height="5" width="5" fill="#8a8a8a" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 84 84" data-reactid="246"><circle class="circle-obj" cx="42" cy="42" r="40" stroke="#8a8a8a" stroke-width="4" fill="#8a8a8a"></circle></svg>
                        <li>Update: {$arr.update_time}</li>
                    </ul>
                    <div class="artc-des">{$arr.content | mb_substr=0,250,'utf-8' | html_entity_decode | strip_tags}……</div>
                    <a href="{:url("index/detail", ['id'=>$arr.id])}">Lean More</a>
                </div>
                {/volist}
            </div>
     </div>
  </div>
  {/block}