{extend name="loginBase" /}

{block name="content"}
    <div class="con-login">
        <div class="box-login">
            {empty name="scene"}
            <h1>Log In to JeremyGo.cn</h1>
            <form class="login-form" action="" method="post">
                <div class="user">
                    <label>User Name</label>
                    <input type="text" name="user" class="userInfo">
                </div>
                <div class="pass">
                    <label>Password</label>
                    <input type="password" name="pass" class="passInfo">
                </div>
                <button class="login-sub">Log In</button>
            </form>
            <div class="box-footer">
                <a href="{:url('index/login', ['scene'=>'sign'])}">Create an Account</a>
            </div>
            {else /}
            <h1>Sign Up to JeremyGo.cn</h1>
            <form class="login-form" action="" method="post">
                <div class="user">
                    <label>User Name</label>
                    <input type="text" name="user" class="userInfo">
                </div>
                <div class="pass">
                    <label>Password</label>
                    <input type="password" name="pass" class="passInfo">
                </div>
                <div class="pass">
                    <label>Confirm Password</label>
                    <input type="password" name="repass" class="repassInfo">
                </div>
                <button class="login-sub">Sign Up</button>
            </form>
            <div class="box-footer">
                <a href="{:url('index/login')}">Log In with an Account</a>
            </div>
            {/empty}
        </div>
    </div>
{/block}