<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta charset="UTF-8"/>
    {block name="link"}

    {/block}
</head>
<body>
<div class="black">
    <div class="background"></div>
    <div class="container">
        <!-- nav -->
        {include file="nav" /}
        <!-- content -->
        {block name="content"}

        {/block}
        <!-- footer -->
        {block name="footer"}

        {/block}
    </div>
</div>
<!-- <script type="text/javascript" src="__STATIC__/home/js/background.js"></script> -->
<script type="text/javascript">
    var topFlag = true;
    const scrollToTop = () => {
        const c = document.documentElement.scrollTop || document.body.scrollTop;
        if(c > 0) {
            window.requestAnimationFrame(scrollToTop);
            window.scrollTo(0, c - c/8);
        }
    };
    window.onscroll = e => {
        const c = document.documentElement.scrollTop || document.body.scrollTop;
        if(c > 300 && topFlag) {
            const toTop = document.createElement('div');
            toTop.className = 'toTop';
            toTop.style.transition = "all .5s ease";
            toTop.innerHTML = `
                <button style="width: 5vh;height: 2vw;min-height:30px;background: #fff;border: 0;position: fixed;bottom: 2vw;right: 2vh;cursor:pointer" onclick="scrollToTop()">Top</button>
            `;
            document.body.appendChild(toTop);
            topFlag = false;
        } else if(c <= 300 && !topFlag) {
            const toTop = document.getElementsByClassName('toTop')[0];
            document.body.removeChild(toTop);
            topFlag = true;
        }
    }
</script>
</body>
</html>