<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/index.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/login.css">
</head>
<body>
<div class="login-container">
    <!-- nav -->
    {include file="nav" /}
    <!-- content -->
    {block name="content"}

    {/block}
    <footer class="footer">
        <ul class="domain">@JeremyGo.cn</ul>
        <ul class="policy">
            <li>Terms of Use</li>
            <li>Privacy Policy</li>
        </ul>
        <ul class="atc-link"><a href="{:url("index/index/article")}">View All Articles</a></ul>
    </footer>
</div>

<script type="text/javascript" src="__STATIC__/admin/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(".login-sub").on("click", function() {
        $text = $(".login-sub").html();
        switch($text) {
            case 'Log In':  login("login");
                                break;
            case 'Sign Up': login("sign");
                                break;
        }
        return false;
    });

    function login($scene) {
        console.log($scene);
        var userInfo   = $(".userInfo").val(),
            passInfo   = $(".passInfo").val(),
            repassInfo = $(".repassInfo").val();
        $.ajax({
            url: "{:url('index/index/loginCheck', ['scene'=>$scene])}",
            method: 'post',
            data: {"user": userInfo, "pass": passInfo, "repass": repassInfo, "scene": $scene},
            success: function(res) {
                switch(res.status) {
                    case 200: succInfo();
                                break;
                    case 400: errorInfo(res.info);
                                break;
                }
            }
        });
    }

    function succInfo() {
        window.location.href = "{:url("index/index/index")}";
    }

    function errorInfo(info) {
        if($(".alert")) $(".alert").remove();
        var alert = $("<div></div").text(info).addClass(['alert', 'alert-danger']);
        $(".login-form").prepend(alert);
    }

</script>
</body>
</html>