<nav class="nav">
    <div class="nav-container">
        <div class="logo"><a href="{:url("index/index")}">Day Break</a></div>
        <ul>
            {volist name="category" id="ca"}
            <li>
                <a href="{:url("index/article", ['id'=>$ca.id])}">{$ca.name}</a>
                <div class="submenu">
                    <ul>
                        {volist name="ca['child']" id="second"}
                        <li><a href="{:url("index/article", ['id'=>$second.id])}">{$second.name}</a></li>
                        {/volist}
                    </ul>
                </div>
            </li>
            {/volist}
            {empty name="user_name"}
            <li><a href="{:url("index/login")}" id="log-btn">Log In</a></li>
        </ul>
    </div>
            {else /}
            <li><a href="{:url("admin/index/admin")}" id="admin-btn">Admin</a></li>
            <li><a href="javascript:void(0)" id="logout-btn" onclick="logout()">Log Out</a></li>
        </ul>
    </div>
    <p class="user_name">Welcome：{$user_name}</p>
        {/empty}
</nav>
<script type="text/javascript" src="__STATIC__/admin/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function logout() {
        $.ajax({
            url: "{:url("index/index/logout")}",
            method: "post",
            success: function(res) {
                switch(res.status) {
                    case 200: window.location.href="{:url("index/index/index")}";
                              break;
                    case 400: window.location.href="{:url("admin/index/admin")}";
                              break;
                }
            }
        });
        return false;
    }
</script>