<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/index.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/login.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/admin.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/user.css">
</head>
<body>
<div class="container">
    <nav class="nav">
        <div class="nav-container">
            <div class="logo"><a href="{:url("admin/index/admin")}">Day Break</a></div>
            <ul>
                <li><a href="{:url("index/index/index")}">Home</a></li>
                <li><a href="{:url("admin/index/admin")}">Articles</a></li>
                {empty name="u_status"}
                {else /}
                <li><a href="{:url("admin/index/user")}">Users</a></li>
                {/empty}
                <li><a href="javascript:void(0)" onclick="logout()">Log Out</a></li>
            </ul>
        </div>
    </nav>
    <!-- content -->
    {block name="content"}
    {/block}
<script type="text/javascript" src="__STATIC__/home/js/background.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $(".login-sub").on("click", function() {
        $text = $("h1").html();
        switch($text) {
            case 'Add a user':  addUser("add");
                                break;
            case 'Edit a user': addUser();
                                break;
            case 'Add a article':  addArticle();
                                   break;
            case 'Edit a article':  addArticle();
                                   break;
        }
        return false;
    });

    function addArticle() {
        console.log("Articles");
        var title = $(".title").val(),
            category = $(".category").val(),
            content  = $(".content").val(),
            id = $(".id").val();
        console.log(content);
        $.ajax({
            url: "{:url('index/insertAtc', ['scene'=>'article'])}",
            method: 'post',
            data: {"title": title, "c_id": category, "content": content, "id": id},
            success: function(res) {
                switch(res.status) {
                    case 200: succInfo("admin");
                                break;
                    case 400: errorInfo(res.info);
                                break;
                }
            }
        });
    }


    function addUser($oprea) {
        var userInfo = $(".userInfo").val(),
            passInfo = $(".passInfo").val(),
            id = $(".id").val();
        $.ajax({
            url: "{:url('index/userVali', ['scene'=>'addUser'])}",
            method: 'post',
            data: {"user": userInfo, "pass": passInfo, "id": id, "oprea": $oprea},
            success: function(res) {
                switch(res.status) {
                    case 200: succInfo("user");
                                break;
                    case 400: errorInfo(res.info);
                                break;
                }
            }
        });
    }

    function succInfo(info) {
        console.log("success");
        if(info === "user") window.location.href = "{:url("index/user")}";
        else window.location.href = "{:url("index/admin")}";

    }

    function errorInfo(info) {
        if($(".alert")) $(".alert").remove();
        var alert = $("<div></div").text(info).addClass(['alert', 'alert-danger']);
        $(".login-form").prepend(alert);
    }

    function logout() {
        $.ajax({
            url: "{:url("index/index/logout")}",
            method: "post",
            success: function(res) {
                switch(res.status) {
                    case 200: window.location.href="{:url("index/index/index")}";
                              break;
                    case 400: window.location.href="{:url("index/index/index")}";
                              break;
                }
            }
        });
        return false;
    }
</script>
</div>
</body>
</html>